In [107]:

def pos():
    pos=1
    while True:
        a=raw_input("Please input 'y' if position is long and 'n' if position is short: ").lower()
    
        if a=='y':
            break
        if a=='n':
            pos=pos*(-1)
            break
        else:
            print "Please input either 'y' or 'n' for position"
    return pos

def z_factor(product1,product2):
    z=1
    factor=1000
    if product1=='RBOB' and product2 =='RBOB':
        z=42
    elif product1=='HO' and product2 =='HO':
        z=42
    elif product1=='RBOB' and product2 =='HO':
        z=42
    elif product1=='HO' and product2 =='RBOB':
        z=42
    elif product1=='Gasoil' and product2 =='Gasoil':
        factor=100
    elif product1=='Gasoil' and product2 =='Brent':
        z=(1/7.45)
    
    else:
        z=1
        factor=1000
    
    return z,factor
        
def create_sprd(dataframe1, dataframe2):
   
    dataframe1.reset_index(inplace=True)
    dataframe2.reset_index(inplace=True)
    date=dataframe1['Date']
    
    dataframe1.drop(columns=['Date'],inplace=True)
    dataframe2.drop(columns=['Date'],inplace=True)
    
    while True:
        sprd_type=int(raw_input('Please indicate if this is a 1) Crack or 2) Spread - please input integer 1 or 2: '))
        
        if sprd_type==1:
            
            new_df=dataframe1*42-dataframe2
            new_df['Date']=date
            new_df.set_index('Date',inplace=True)
            new_df.fillna(method='bfill',inplace=True)
            new_df.fillna(method='ffill',inplace=True)
            
            return new_df
            break
        
        elif sprd_type==2:
            
            new_df= dataframe1-dataframe2
            new_df['Date']=date
            new_df.set_index('Date',inplace=True)
            new_df.fillna(method='bfill',inplace=True)
            new_df.fillna(method='ffill',inplace=True)
            
            return new_df
            break
        
        else:
            print 'You have inputted incorrectly. Please try again and enter either integer 1 or 2.'
    

class Mth_1(object):
    
    def __init__(self):
        pass
        
    def pdt_type1(self):
        
        product=''
        while True:
            inst=int(raw_input('Please input the number of the product you want to see the seasonals: 1) Brent 2) Gasoil 3) HO 4) RBOB 5) WTI: '))
    
            if inst==1:
                product='Brent'
                break
            elif inst==2:
                product='Gasoil'
                break   
            elif inst==3:
                product='HO'
                break      
            elif inst==4:
                product='RBOB'
                break       
            elif inst==5:
                product='WTI'
                break       
            else:
                print 'You did not input a correct number. Please try again.'
        
        return product
        
    
    def mth_no1(self):
        month=''
        while True:
            Mth=int(raw_input('Please input the month of the contract which you wish to evaluate in numbers from 1-12: '))
    
            if Mth==1:
                month='Jan'
                break
            elif Mth==2:
                month='Feb'
                break   
            elif Mth==3:
                month='Mar'
                break   
            elif Mth==4:
                month='Apr'
                break   
            elif Mth==5:
                month='May'
                break          
            elif Mth==6:
                month='Jun'
                break   
            elif Mth==7:
                month='Jul'
                break   
            elif Mth==8:
                month='Aug'
                break   
            elif Mth==9:
                month='Sep'
                break   
            elif Mth==10:
                month='Oct'
                break   
            elif Mth==11:
                month='Nov'
                break   
            elif Mth==12:
                month='Dec'
                break 
            else:
                print 'You did not input a correct number. Please try again.'
        
        return month

    def dataframe_create(self,start_mth,start_day,end_mth,end_day,i):

        count=0
        path = os.getcwd()
        
        listing = os.listdir(path)
        for infile in listing:
            temp=pd.read_excel(infile) #read each file into panda dataframe
    
            contract_yr_str=infile[-8:-4] # get the contract year
    
            seasonal_year=int(contract_yr_str)-1 # get the seasonal year to create the index - prev year
            seasonal_year=str(seasonal_year) # convert to string

            start_date=str(int(seasonal_year)+i)+'-'+start_mth+'-'+start_day # create start date
            end_date=str(int(seasonal_year)+j)+'-'+end_mth+'-'+end_day # create end date
            
            #Join a date dataframe and the temp dataframe together
            
            dates=pd.date_range(start_date, end_date) # range of dates for date axis
            dates=dates.strftime('%Y-%m-%d') #make sure no left out dates
            sample_data=np.arange(0,len(dates)) #just sample numbers to create dataframe
    
            dates_dataframe=pd.DataFrame({'Date':dates,'data':sample_data}) # create dates dataframe
            dates_dataframe=dates_dataframe.set_index('Date') # set index as Date to facilitate joining
    
            temp=temp.set_index('Date') # set index as Date to facilitate joining
    
            temp=dates_dataframe.join(temp) # join dataframes together on Date
               
            #filter dates by the start and end date
            temp.reset_index(inplace=True)
    
            temp=temp[temp['Date']>=start_date] # filter for start date

            temp=temp[temp['Date']<=end_date] # filter for end date

            temp['Date']=pd.to_datetime(temp['Date']).dt.strftime('%m/%d') # putting date in mm/dd form
            temp=temp.set_index('Date') # putting date back as index
            temp=pd.DataFrame(temp['Settle'],columns=['Settle']) # setting dataframe with date and settle only

    
            if count==0:
                Seasonal_Combi=temp
                seasonal_year=str(int(seasonal_year)+1)
                Seasonal_Combi.rename(columns={'Settle':seasonal_year},inplace=True)
        
                count+=1
        
            else:
    
                seasonal_year=str(int(seasonal_year)+1)
                Seasonal_Combi['Settle']=temp['Settle']
                Seasonal_Combi.rename(columns={'Settle':seasonal_year},inplace=True)

        #don't need this, i believe
        #Seasonal_Combi.drop(columns=['Open','High','Low','Last','Change', 'Volume','Prev. Day Open Interest'],inplace=True)   

        
        return Seasonal_Combi
            
            

class Mth_2(object):
    
    def __init__(self):
        pass
        
    def pdt_type2(self):
        
        product=''
        while True:
            inst=int(raw_input('Please input the number of the product you want to see the seasonals: 1) Brent 2) Gasoil 3) HO 4) RBOB 5) WTI: '))
    
            if inst==1:
                product='Brent'
                break
            elif inst==2:
                product='Gasoil'
                break   
            elif inst==3:
                product='HO'
                break      
            elif inst==4:
                product='RBOB'
                break       
            elif inst==5:
                product='WTI'
                break       
            else:
                print 'You did not input a correct number. Please try again.'
        
        return product
        
    
    def mth_no2(self):
        month=''
        while True:
            Mth=int(raw_input('Please input the month of the contract which you wish to evaluate in numbers from 1-12: '))
    
            if Mth==1:
                month='Jan'
                break
            elif Mth==2:
                month='Feb'
                break   
            elif Mth==3:
                month='Mar'
                break   
            elif Mth==4:
                month='Apr'
                break   
            elif Mth==5:
                month='May'
                break          
            elif Mth==6:
                month='Jun'
                break   
            elif Mth==7:
                month='Jul'
                break   
            elif Mth==8:
                month='Aug'
                break   
            elif Mth==9:
                month='Sep'
                break   
            elif Mth==10:
                month='Oct'
                break   
            elif Mth==11:
                month='Nov'
                break   
            elif Mth==12:
                month='Dec'
                break 
            else:
                print 'You did not input a correct number. Please try again.'
        
        return month

    def dataframe_create(self, start_mth, start_day, end_mth,end_day,i):

        count=0
        path = os.getcwd()

        listing = os.listdir(path)
        for infile in listing:
            temp=pd.read_excel(infile) #read each file into panda dataframe
    
            contract_yr_str=infile[-8:-4] # get the contract year
    
            seasonal_year=int(contract_yr_str)-1 # get the seasonal year to create the index - prev year
            seasonal_year=str(seasonal_year) # convert to string
     
            start_date=str(int(seasonal_year)+i)+'-'+start_mth+'-'+start_day # create start date
            end_date=str(int(seasonal_year)+j)+'-'+end_mth+'-'+end_day # create end date
            
            #Join a date dataframe and the temp dataframe together
            
            dates=pd.date_range(start_date, end_date) # range of dates for date axis
            dates=dates.strftime('%Y-%m-%d') #make sure no left out dates
            sample_data=np.arange(0,len(dates)) #just sample numbers to create dataframe
    
            dates_dataframe=pd.DataFrame({'Date':dates,'data':sample_data}) # create dates dataframe
            dates_dataframe=dates_dataframe.set_index('Date') # set index as Date to facilitate joining
    
            temp=temp.set_index('Date') # set index as Date to facilitate joining
    
            temp=dates_dataframe.join(temp) # join dataframes together on Date
               
            #filter dates by the start and end date
            temp.reset_index(inplace=True)
    
            temp=temp[temp['Date']>=start_date] # filter for start date

            temp=temp[temp['Date']<=end_date] # filter for end date

            temp['Date']=pd.to_datetime(temp['Date']).dt.strftime('%m/%d') # putting date in mm/dd form
            temp=temp.set_index('Date') # putting date back as index
            temp=pd.DataFrame(temp['Settle'],columns=['Settle']) # setting dataframe with date and settle only
    
            if count==0:
                Seasonal_Combi=temp
                seasonal_year=str(int(seasonal_year)+1)
                Seasonal_Combi.rename(columns={'Settle':seasonal_year},inplace=True)
        
                count+=1
        
            else:
    
                seasonal_year=str(int(seasonal_year)+1)
                Seasonal_Combi['Settle']=temp['Settle']
                Seasonal_Combi.rename(columns={'Settle':seasonal_year},inplace=True)

        #Seasonal_Combi.drop(columns=['Open','High','Low','Last','Change','Volume','Prev. Day Open Interest'],inplace=True)   

        
        return Seasonal_Combi
    
    
import numpy as np
import pandas as pd
import os

%matplotlib inline

#user specify instrument and contract month

product1=''
month1=''
product2=''
month2=''

front_mth=Mth_1()
product1 = front_mth.pdt_type1()
month1=front_mth.mth_no1()

back_mth=Mth_2()
product2=back_mth.pdt_type2()
month2=back_mth.mth_no2()

Please input the number of the product you want to see the seasonals: 1) Brent 2) Gasoil 3) HO 4) RBOB 5) WTI: 4
Please input the month of the contract which you wish to evaluate in numbers from 1-12: 3
Please input the number of the product you want to see the seasonals: 1) Brent 2) Gasoil 3) HO 4) RBOB 5) WTI: 3
Please input the month of the contract which you wish to evaluate in numbers from 1-12: 3

In [108]:
cd Quandl

C:\Users\boonsin.teo\Documents\Quandl

In [109]:
cd $product1

C:\Users\boonsin.teo\Documents\Quandl\RBOB

In [110]:
cd $month1

C:\Users\boonsin.teo\Documents\Quandl\RBOB\Mar

In [111]:
start_mth=raw_input('Please input start mth of seasonal period in MM format: ')
start_day=raw_input('Please input start day of seasonal period in DD format: ')
i=int(raw_input('Please input 1 if start mth is the same as contract year and 0 if not: '))
            
end_mth=raw_input('Please input end mth of seasonal period in MM format: ')
end_day=raw_input('Please input end day of seasonal period in DD format: ')
            
j=int(raw_input('Please input 1 if end mth is the same as contract year and 0 if not: '))


front_month=front_mth.dataframe_create(start_mth,start_day,end_mth,end_day,i)

Please input start mth of seasonal period in MM format: 11
Please input start day of seasonal period in DD format: 17
Please input 1 if start mth is the same as contract year and 0 if not: 0
Please input end mth of seasonal period in MM format: 01
Please input end day of seasonal period in DD format: 03
Please input 1 if end mth is the same as contract year and 0 if not: 1

In [112]:
cd ..

C:\Users\boonsin.teo\Documents\Quandl\RBOB

In [113]:
cd ..

C:\Users\boonsin.teo\Documents\Quandl

In [114]:
cd ..

C:\Users\boonsin.teo\Documents

In [115]:
cd Quandl

C:\Users\boonsin.teo\Documents\Quandl

In [116]:
cd $product2

C:\Users\boonsin.teo\Documents\Quandl\HO

In [117]:
cd $month2

C:\Users\boonsin.teo\Documents\Quandl\HO\Mar

In [118]:
back_month=back_mth.dataframe_create(start_mth, start_day,end_mth,end_day,i)

In [119]:
cd ..

C:\Users\boonsin.teo\Documents\Quandl\HO

In [120]:
cd ..

C:\Users\boonsin.teo\Documents\Quandl

In [121]:
cd ..

C:\Users\boonsin.teo\Documents

In [122]:
front_month.head()

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Date,,,,,,,,,,,,,,,,,,,,,
11/17,0.5218,NaN,0.5991,0.4131,0.6961,0.8983,NaN,NaN,0.8654,1.2833,...,1.2751,2.0884,2.1170,2.5442,NaN,NaN,2.0357,1.2683,1.3737,NaN
11/18,NaN,0.6434,0.5946,0.4118,0.6755,NaN,NaN,0.7080,0.9036,1.2696,...,1.2443,2.0928,2.1609,2.5185,NaN,2.6544,2.0454,1.2898,1.3743,NaN
11/19,NaN,0.6547,0.5950,0.4153,0.6891,NaN,0.5370,0.7008,0.8871,1.3310,...,1.2230,2.0510,2.1363,NaN,2.7481,2.6356,2.0410,1.3015,NaN,NaN
11/20,0.5170,0.6386,0.5830,0.4175,NaN,0.9005,0.5548,0.7132,0.8740,NaN,...,1.1209,2.0480,NaN,NaN,2.7057,2.6609,2.0390,1.3066,NaN,NaN
11/21,0.5160,0.6480,0.5881,NaN,NaN,0.9036,0.5524,0.7219,0.8740,NaN,...,1.1712,NaN,NaN,2.5267,2.7385,2.7267,2.0708,NaN,1.4321,NaN

In [123]:
back_month.head()

,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Date,,,,,,,,,,,,,,,,,,,,,
11/17,0.5096,NaN,0.5758,0.3820,0.6604,0.9424,NaN,NaN,0.8420,1.3515,...,1.8360,2.1417,2.2878,3.0663,NaN,NaN,2.3557,1.4214,1.4776,1.9335
11/18,NaN,0.6628,0.5718,0.3808,0.6409,NaN,NaN,0.6965,0.8775,1.3590,...,1.8049,2.1339,2.3277,3.0224,NaN,2.9252,2.3397,1.4353,1.4894,NaN
11/19,NaN,0.6738,0.5672,0.3799,0.6532,NaN,0.5337,0.6944,0.8630,1.4075,...,1.8017,2.0846,2.3037,NaN,3.0706,2.9052,2.3169,1.4325,NaN,NaN
11/20,0.5074,0.6593,0.5589,0.3817,NaN,0.9521,0.5477,0.7087,0.8535,NaN,...,1.7130,2.0657,NaN,NaN,3.0375,2.9449,2.3391,1.4358,NaN,1.9204
11/21,0.5055,0.6746,0.5606,NaN,NaN,0.9555,0.5445,0.7124,0.8530,NaN,...,1.7346,NaN,NaN,2.9949,3.0675,2.9955,2.3623,NaN,1.5574,1.9250

In [124]:
Spread_Combi=create_sprd(front_month, back_month)

Please indicate if this is a 1) Crack or 2) Spread - please input integer 1 or 2: 2

In [125]:
Spread_Combi.dropna(axis=0,how='all',inplace=True) # drop rows with all NAs

In [126]:
Spread_Combi.dropna(axis=1,how='all',inplace=True)# drop columns with all NAs

In [127]:
position=pos()
print 'PnL will be calculated basis 1kb lot size for standardization purposes.'

Please input 'y' if position is long and 'n' if position is short: y
PnL will be calculated basis 1kb lot size for standardization purposes.

In [128]:
zf=z_factor(product1, product2)

In [129]:
#PnL Series
pnl_series=(Spread_Combi.iloc[-1]-Spread_Combi.iloc[0])*zf[0]*zf[1]*position

In [130]:
#Win %
Win_Percent=float(pnl_series[pnl_series>0].count())/float(pnl_series.count())*100

In [131]:
#Largest Drawdown - use max and min
max_series=Spread_Combi.max()
min_series=Spread_Combi.min()
if position==1:
    max_drawdown=(min_series-Spread_Combi.iloc[0])*position*zf[0]*zf[1]
else:
    max_drawdown=(max_series-Spread_Combi.iloc[0])*position*zf[0]*zf[1]

In [132]:
#% return - calculate using last value vs first value - similar to pnl calc
percent_return=((Spread_Combi.iloc[-1]-Spread_Combi.iloc[0])/(Spread_Combi.iloc[0]))

In [133]:
pnl_series

1996     -306.6
1997     1205.4
1998      865.2
1999      -67.2
2000     -646.8
2001     1348.2
2002     1974.0
2003      697.2
2004      399.0
2005     1302.0
2006     7182.0
2007     3801.0
2008     1003.8
2009     8950.2
2010      126.0
2011     1915.2
2012    10361.4
2013     4246.2
2014      357.0
2015      222.6
2016    12700.8
2017     2247.0
dtype: float64

In [134]:
percent_return

1996    -0.598361
1997    -1.479381
1998     0.884120
1999    -0.051447
2000    -0.431373
2001    -0.727891
2002    14.242424
2003     1.443478
2004     0.405983
2005    -0.454545
2006    -0.839470
2007    -0.723421
2008    -0.157133
2009    -0.379925
2010    -0.056285
2011    -0.266979
2012    -0.472515
2013    -0.313488
2014    -0.031388
2015    -0.016563
2016    -1.975180
2017    -0.514918
dtype: float64

In [135]:
max_drawdown

1996    -814.8
1997    -302.4
1998     -21.0
1999    -378.0
2000    -646.8
2001   -2062.2
2002       0.0
2003    -294.0
2004   -1092.0
2005   -3145.8
2006    -302.4
2007   -1344.0
2008   -2133.6
2009   -1310.4
2010   -1323.0
2011    -378.0
2012       0.0
2013    -550.2
2014   -2448.6
2015    -205.8
2016       0.0
2017    -898.8
dtype: float64

In [136]:
print 'the win percentage is %.2f percent' %Win_Percent

the win percentage is 86.36 percent

In [137]:
#check directory
pwd

u'C:\\Users\\boonsin.teo\\Documents'